!!!
%html
  %head
    %title My Sinatra Application Template

    %link{ :rel => "stylesheet", :href => "/css/style.css", :type => "text/css" }

  %body
  
    #header
      %h1 My Sinatra Application Template

    = yield